body {
  font-family: Satoshi;
  margin: 0;
  color: #261f5a;
  background: #f8f8fb;
}
img {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: "Satoshi";
  src: local("Satoshi"), local("Satoshi-Regular"),
    url(./assets/font/Satoshi-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Satoshi-Bold";
  src: local("Satoshi-Bold"),
    url(./assets/font/Satoshi-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Satoshi-Medium";
  src: local("Satoshi-Medium"),
    url(./assets/font/Satoshi-Medium.ttf) format("truetype");
}
